.custom-draft-editor{
    width:960px;
    margin:80px auto 0;  
    font-size:16px;
    &.hide-placeholder{
        .public-DraftEditorPlaceholder-root {
            display: none;
        }
    }
    .editor-bar{
        border-top:1px solid #ccc;
        border-bottom:1px solid #ccc;
        padding:5px 0;
        .editor-control{
            float:left;
            cursor: pointer;
            width:30px;
            height:30px;
            font-size:16px;
            text-align: center;
            border:1px solid transparent;
            line-height:30px;
            position: relative;
            margin-right:10px;
            &:hover{
                background:#f8f8f9;
                border:1px solid #dee0e1;
                border-radius:2px;
            }
            &.active{
                color:#0db4f9
            }
        }
        &::after{
            display: block;
            content:'';
            overflow: hidden;
            visibility: hidden;
            opacity: 0;
            clear: both;
        }
    } 

    .editor-content {
        padding: 20px 0;
    }


    .insert-link-wrap{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background:rgba(26,26,26,.65);
        .insert-link-inner{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background:#fff;
            width:360px;
            border-radius: 2px;
            padding:20px;
        }
        .link-text,.link-address{
            height:36px;
            line-height:36px;
            border:1px solid #ccc;
            margin:20px 0;
            padding:0 10px;
            border-radius: 2px;
            overflow: hidden;
            input{
                padding-left:10px;
            }
        }

        .buttons{
            display: flex;
            justify-content: space-between;
            .btn{
                width:45%;
                height:40px;
                text-align: center;
                line-height:40px;
                line-height:38px;
                border:1px solid #ccc;
                border-radius:2px;
                cursor: pointer;
                &.active{
                    color:#0db4f9;
                    border-color:#0db4f9;
                }
            }
        }

        .close{
            position: absolute;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height:40px;
            color:#fff;
            font-size:30px;
            cursor: pointer;
            top: -10px;
            right: -50px;
        }
    }
}