.custom-draft-editor{
    width:960px;
    margin:80px auto 0;  
    font-size:16px;
    &.hide-placeholder{
        .public-DraftEditorPlaceholder-root {
            display: none;
        }
    }
    .editor-bar{
        border-top:1px solid #ccc;
        border-bottom:1px solid #ccc;
        padding:5px 0;
        .editor-control{
            float:left;
            cursor: pointer;
            width:30px;
            height:30px;
            font-size:16px;
            text-align: center;
            border:1px solid transparent;
            line-height:30px;
            position: relative;
            margin-right:10px;
            &:hover{
                background:#f8f8f9;
                border:1px solid #dee0e1;
                border-radius:2px;
            }
            &.active{
                color:#0db4f9
            }
        }
        &::after{
            display: block;
            content:'';
            overflow: hidden;
            visibility: hidden;
            opacity: 0;
            clear: both;
        }
    } 

    .editor-content {
        padding: 20px 0;
    }
}